/*
 *
 * Common
 * 
 *
 */

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

a:link {
    text-decoration: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #93a4aa;
}

#bootstrap-overrides .btn {
    color: #fff;
    background-color: #1DB0ED;
    border-color: #9175bd;
    outline: 0;
    padding: 1.2rem 4rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    transition: all .1s linear;
    letter-spacing: .1rem;
    border: 0px;
    opacity: 1;
}

#bootstrap-overrides .btn:hover {
    transform: scale(1.03);
}


/*
 *
 * Jumbotron
 * 
 *
 */

.jumbotron {
    display: table;
    overflow: hidden;
    padding: 0;
    height: 92vh;
    width: 100%;
    margin-bottom: 0;
    min-height: 350px;
    background-attachment: scroll;
    background-position: center center;
    background-image: url("../img/the-coder-1600x1200.jpg");
}

.jumbotron:before {
    /* The before selector has the same size and position as the jumbotron.
    It also has a semi-transparent background color, which is actually in front
    of the background image, and gives it a kind of filter, or layer, and achieves a nice
    effect. 
    */
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    background-color: rgba(27, 166, 223, 0.7);
    pointer-events: none;
}

.jumbotron-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.jumbotron-title-text {
    position: relative;
    line-height: 1.2;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    z-index: 999;
}

#jumbotron-cta {
    position: relative;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    z-index: 999;
    transition: all 0.5s ease;
}

#jumbotron-cta:hover {
    color: #EDF1F2;
}


/*
 *
 * Navbar
 * 
 *
 */

.navbar {
    height: 8vh;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
        max-width: 850px;
    }
    .navbar-nav > li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}

#bootstrap-overrides .navbar-buttons ul li a {
    font-weight: 400;
    margin: 0 5px;
    height: 90%;
}

.affix {
    width: 100%;
    top: 0;
    /* the z-index makes the navbar stay in front of the content when the user scrolls down. */
    z-index: 9999 !important;
}


/*
 *
 * Experience
 * 
 *
 */

.experience {}

.experience-title {
    color: #364347;
    line-height: 1.4;
    font-weight: 700;
    text-align: center;
}


/*
 *
 * Employment and education
 * 
 *
 */

.fa-code-fork {
    color: #1DB0ED;
    font-size: 5rem;
}

.fa-circle {
    color: #a88cd5;
}

.employment-title,
.education-title {
    color: #364347;
    line-height: 1.4;
    font-weight: 700;
    text-align: center;
}

.education ul,
.employment ul {
    text-align: left;
}

.education li,
.employment li {
    line-height: 1.8;
    font-size: 1.4rem;
    margin-bottom: 2px;
}


/*
 *
 * Portfolio
 * 
 *
 */

.portfolio {
    background-color: #f5f5f5;
    padding-top: 2%;
}

.portfolio .row {
    padding: 6% 0;
    border-bottom: 2px solid black;
}


/*
 *
 * Contact
 * 
 *
 */

.contact {
    background-color: #5e696d;
    color: #fff;
}


/*
 *
 * Footer
 * 
 *
 */

footer {
    background-color: #364347;
    color: rgba(255, 255, 255, .4);
}
